.DS_Store
*.gz
*.sql
CHANGELOG.md
composer.lock
composer.log
build.txt
database.sql.gz
vendor/
htdocs/
reports/
tools/*
!tools/composer.phar
.modman/*
build.txt
.idea
!.modman/.basedir
!.modman/Project_Base
html
